Source: fritzbox-internet-ticket
Maintainer: Schlomo Schapiro <schlomo+fritzbox-internet-ticket@schapiro.org>
Section: misc
Priority: optional
Standards-Version: 3.9.7
Homepage: https://github.com/schlomo/fritzbox-internet-ticket
Build-Depends: debhelper (>= 9), git-buildpackage

Package: fritzbox-internet-ticket
Architecture: amd64
Depends: ${misc:Depends}, ${shlibs:Depends}, python3, curl
Description: Retrieve internet tickets from Fritzbox and print on a Zebra printer
 What it does:
  * Retrieve 10 internet tickets from a Fritzbox
  * Print the first ticket
  * Upload the remaining 9 tickets to a Google Drive Form
